<!-- <div class="introtext">
    <h1>Intro text</h1>
    <h3>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</h3>
</div>
<div>
    <button (click)="navpage()">Apply For Trainer</button>
</div> -->

<div class="container">
  <div class="introtext text-center">
    <h1>Intro text</h1>
    <h3>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum has been the industry's standard dummy text ever since the
      1500s.
    </h3>
  </div>
</div>

<footer class="footer">
  <div class="container">
    <p>Useful Links</p>

    <!-- <table class="table">
      <tbody>
        <tr style="height: 25px;">
          <td><Strong>Useful Links</Strong></td>
          <td><strong>Contact</strong></td>
        </tr>
        <tr>
          <td>
            <button class="btn btn-link" (click)="landingpage()">Home</button>
          </td>
          <td>Your Company Address</td>
        </tr>
        <tr>
          <td>
            <button class="btn btn-link" (click)="placeAppointment()">
              Place Appointment
            </button>
          </td>
          <td>Your Company Address</td>
        </tr>
        <tr>
          <td>
            <button class="btn btn-link" (click)="viewAppointment()">
              View Appointment
            </button>
          </td>
          <td>Your Company Address</td>
        </tr>
        <tr>
          <td>
            <button class="btn btn-link" (click)="contactUspage()">
              Contact Us
            </button>
          </td>
          <td>Your Company Address</td>
        </tr>
      </tbody>
    </table> -->

    <p>&copy; 2024 Your Company Name. All rights reserved.</p>
  </div>
</footer>
